body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.profile-container {
    max-width: 400px;
    background: rgb(29, 29, 29);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    color: white;
}

h4 {
    color: rgb(178, 223, 43);
}

.bio {
    color: white;
    margin: 10px 0;
}

/* Centering the buttons */
.d-grid {
    display: grid;
    place-items: center; }

.btn-primary {
    background-color: rgb(76, 75, 75);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0; 
    padding: 12px 24px;
    text-transform: uppercase;
    width: 250px;
    transition: background-color 0.3s, transform 0.2s ease; 
}

/* Hover effect */
.btn-primary:hover {
    background-color: #24292f; 
    color: white;
    transform: scale(1.05);
}

.btn-primary:active {
    transform: scale(0.98);
}
