body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

.profile-container {
    max-width: 400px;
    background: wheat;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

.bio {
    color: #666;
    margin: 10px 0;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #0056b3;
}
